
.navbar-default{
    background-color: #FFFFFF;
    height:81.6px;

}
.navbar-ex1-collapse{
    position: relative;
}
.navbar-ex1-collapse>img{
    margin-top:9.3px;
    margin-left:145px;
    
}

.navbar-nav{
    
    position: absolute;
    right:120px;
    top:0px;
}
.navbar-nav>li{
    height:79.6px;
    text-align:center;
    
}
.navbar-nav>li>a{
    display:inline-block;
    line-height:49.6px;
    font-size:14px;
    box-sizing:border-box;
    padding:15px 8px;

}

.navbar-nav>li:hover{
    border-bottom:2px solid #2DAE36;
    color:#2DAE36;
}
    

    


    