
.navbar-default{
    background-color: #FFFFFF;
    height:81.6px;

}
.navbar-ex1-collapse{
    position: relative;
}
.navbar-ex1-collapse>img{
    margin-top:9.3px;
    margin-left:145px;
    
}

.navbar-nav{
    
    position: absolute;
    right:120px;
    top:0px;
}
.navbar-nav>li{
    height:79.6px;
    text-align:center;
    
}
.navbar-nav>li>a{
    display:inline-block;
    line-height:49.6px;
    font-size:14px;
    box-sizing:border-box;
    padding:15px 8px;

}

.navbar-nav>li:hover{
    border-bottom:2px solid #2DAE36;
    color:#2DAE36;
}
    

.carousel-indicators>.active{
    background-color:#2DAE36;
}
.main{
    width:1519px;
    height:1027px;
    padding-left:152px;
    padding-right:152px;
}

.main>h3{
    width:1215px;
    margin-bottom:50px;
   text-align:center;
    
}

.main-out{
    width:1245px;
    height:270px;
}
.col-md-3{
    text-align:center;
}

.col-md-3>img{
    width:70px;
    height:70px;
   

}
.col-md-3>h3{
    color:#2DAE36;
    margin-left:auto;
    margin-right:auto;
   
    
}
    
.col-md-3 .shorter-row{
    font-size:12px;
    color:#787878;
    width:130px;
    margin-left:auto;
    margin-right:auto;
    

    
}
    
.col-md-3 .longer-row{
    font-size:12px;
    width:220px;
    color:#787878;
    margin-left:auto;
    margin-right:auto;
}
    

.product-show{
    width:1215px;
    height:700px;
}
.product-show-title{
    width:1215px;
    height:42px;
    border-bottom:1px solid #2DAE36;


}
.product-show-title-in{
    width:120px;
    height:40px;
    line-height:40px;
    font-size:20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #2DAE36;
    color:#ffffff;
    text-align:center;

}
.product-show-product-out{
    width:1215px;
    height:645px;
    position: relative;
}


.product-show-product{
    width:1245px;
    height:645px;
    position: absolute;
    margin-left:-15px;
}

.product-show-product>div{
    width:415px;
    height:319px;
    padding:15px;

}

.product-show-product>div>img{
    width:385px;
    height:289px;
    
}

.bottom-out{
    width:1519px;
    height:128px;
    padding-top:24px;
    padding-bottom:16px;
}

.bottom{
    width:1519px;
    height:88px;
    padding-left:151px;
    padding-right:151px;

}

.bottom>.col-md-3{
    width:303px;
    height:88px;
    padding-left:15px;
    padding-right:15px;

}


.bottom>.col-md-3>.bottom-logo{
    width:273px;
    height:72px;
    margin-bottom:16px;


}

.bottom>.col-md-3>.bottom-logo img{
    width:100px;
    height:72px;
}

.bottom>.col-md-6{
    width:607px;
    height:78px;
    padding-left:15px;
    padding-right:15px;
}

.bottom-mid-top{
    width:607px;
    height:40px;
    padding-top:20px;

}
.bottom>.col-md-6 p{
    width:577px;
    height:28px;
}
.bottom>.col-sm-12{
    width:303px;
    height:85px;
    padding-left:15px;
    padding-right:15px;
}

.bottom>.col-sm-12>.bottom-right{
    width:273px;
    height:85px;
}
.bottom>.col-sm-12>.bottom-right>.col-md-12{
    width:273px;
    height:18px;
    margin-bottom:10px;
}


.bottom>.col-sm-12>.bottom-right>.col-md-12>span{
   
    font-size:10px;
}


.bottom>.col-sm-12>.bottom-right>.col-md-12>.iconfont{
    display:inline-block;
    width:16px;
    height:16px;
    font-size: 16px;
}

    